<div class="content">
	<div class="container">
		<h1 style="background: orange; padding: 30px 60px; text-align: center; margin: 15px 0 5px;">Tutaj możesz zobaczyć między innymi projekty, nad którymi pracowałem ja i mój zespół.</h1>
		<ul class="list_projects">
			<div class="wallpaper">
				<li><a href="https://sites.google.com/view/upbeatdream/">upbeatDREAM</a></li>
				<div style="text-align: center;">
					<img class="zwiekszLubZmniejsz" style="scale: 1;" src="uploads/project1.png" alt="1">
					<p style="margin: 0 auto; width: 400px;">Projekt który był realizowany na studiach I stopnia na 4 semestrze. I chociaż użyliśmy programu do stworzenia strony google.sites, okazało się to całkiem normalne.</p>
				</div>

			</div>
			<div class="wallpaper">
				<li><a href="https://cinemascissors.weebly.com/">cinemascissors</a></li>
				<div>
					<img class="zwiekszLubZmniejsz" style="scale: 1;" src="uploads/project2.png" alt="2">
					<p style="margin: 0 auto; width: 400px;">Projekt który był realizowany na studiach I stopnia na 4 semestrze. I chociaż użyliśmy programu do stworzenia strony weebly, ninawidze to g*wno :) ale było wymaganie dość małe dla tego na szybko zrobiliśmy to .... coś </p>
				</div>
			</div>
		</ul>
		<p style="float: right; margin: 10px; padding: 10px; text-align: center; width: 400px;">just follow me on <a href="https://github.com/ruslanzhuk"> github </a> to keep up to date with all new projects :)</p>
	</div>
</div>