<div class="content">
	<div style="justify-content: center;" class="container wallpaper">
		<div style="height: 320px; position: absolute; top: 136px; left: 220px;" id="animacjaTestowa3">
			<img src="uploads/logo.webp" alt="logo" style=" width: 100%; height: 100%; z-index: -1;">
		</div>

		<div class="contact-form">
			<h2>Kontakt</h2>
			<form action="mailto:ruslanzhukotynskyi@gmail.com" method="POST" enctype="text/plain">
				<label for="name">Imię:</label>
				<input type="text" id="name" name="name" placeholder="Wpisz swoje imię" required>

				<label for="email">E-mail:</label>
				<input type="email" id="email" name="email" placeholder="Wpisz swój e-mail" required>

				<label for="subject">Temat:</label>
				<input type="text" id="subject" name="subject" placeholder="Temat wiadomości" required>

				<label for="message">Wiadomość:</label>
				<textarea id="message" name="message" rows="4" placeholder="Napisz wiadomość" required></textarea>

				<button type="submit">Wyślij wiadomość</button>
			</form>
		</div>
	</div>
	<div class="group">
		<h3>Zacęcam do kontaktu w razie jakichkolwiek pytań lub uwag co do strony.</h3>
	</div>
</div>