<div style="background: url('uploads/bakipose.webp');" class="content">
    <p style="background: white; color: indigo; font-size: 22px; font-weight: 900; text-align: center">Inspiring movies!</p>
    <div style="flex-wrap: wrap" class="wallpaper">
        <div class="block4">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/CqqWGmJkSYc?si=02jr1QJbu3NbZzhO" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
        <p style="background: white; color: indigo; display: flex; height: min-content; font-size: 22px; font-weight: 900">just watch it on YouTube!</p>
        <div class="block4">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/ogV8WRksy1o?si=nIOlVHu5xs2zqih_" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
        <div class="block4">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/ZqmuRMJDW_w?si=CNyBcuVHUWf_uwcA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
        <div class="block4">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/FaJtibEZqUs?si=R0rzsoTbdqVesxkU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
    </div>
</div>